<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>勉強&nbsp;benkyo</title>

  <link rel="stylesheet"
        href="bower_components/angular-material/angular-material.min.css">

  <link rel="stylesheet" href="css/material-icons.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div ng-controller="AppCtrl" layout="column" style="height:100%;">

  <section layout="row" flex>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="true">

      <md-toolbar>
        <h1 class="md-toolbar-tools">勉強&nbsp;
          <small>benkyo</small>
        </h1>
      </md-toolbar>

      <md-content ng-controller="MenuCtrl">
        <ul>
          <li>
            <md-button class="md-raised md-primary">
              <i class="material-icons">local_library</i>
              {{ 'benkyo.learn' | translate }}
            </md-button>
          </li>
          <li>
            <md-button class="md-raised md-primary">
              <i class="material-icons">school</i>
              {{ 'benkyo.practice' | translate }}
            </md-button>
          </li>
          <li>
            <md-button class="md-raised md-primary">
              <i class="material-icons">poll</i>
              {{ 'benkyo.score' | translate }}
            </md-button>
          </li>
          <li>
            <md-button class="md-raised md-primary">
              <i class="material-icons">settings</i>
              {{ 'benkyo.settings' | translate }}
            </md-button>
          </li>
          <li>
            <md-button class="md-raised md-primary">
              <i class="material-icons">info_outline</i>
              {{ 'benkyo.imprint' | translate }}
            </md-button>
          </li>
        </ul>
      </md-content>

    </md-sidenav>

    <md-content style="padding: 1rem; width: 100%;">

      <h2>{{ 'benkyo.settings' | translate }}</h2>

      <div ng-controller="LangCtrl">
        <h3>{{ 'benkyo.language' | translate }}</h3>

        <button class="md-button md-raised" ng-click="changeLang('jpn')">
          日本語
        </button>
        <button class="md-button md-raised" ng-click="changeLang('eng')">
          English
        </button>
        <button class="md-button md-raised" ng-click="changeLang('deu')">
          Deutsch
        </button>
      </div>

    </md-content>

  </section>

</div>

<script src="bower_components/angular/angular.min.js"></script>
<script
  src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js">
</script>
<script src="bower_components/angular-translate/angular-translate.min.js">
</script>

<script src="app/app.module.js"></script>

</body>
</html>
